* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}

header{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #333333;
    color: white;
}

nav{
    display: flex;
    background-color: #000000;
    color: white;
}

nav li {
    display: flex;
    
}

main{
    grid-column: 1/3;
    grid-row: 2;
    background-color: #cccccc;
}

aside{
    grid-column: 3;
    grid-row: 2;
    background-color: #fff;
    color: #000000;
}

footer{
    grid-row: 3;
    grid-column: 1/4;
    background-color: #333333;
    color: #ffffff;

}