:root {
    --primary-color: #042a2b;
    --secondary-color: #4b88a2;
    --accent-color1:#efca08;
    --accent-color2:#702632;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    font-family: 'Playfair Display', serif;
    row-gap: 0.75rem;
}

header{
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--primary-color);
    color: white;
}

header span {
    display: block;
}

main{
    grid-column: 1/4;
    grid-row: 2;
    background-color: var(--white);

    display: grid;
    grid-template-columns: 800px 450px;
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    justify-content: center;
}

main h1 {
    grid-column: 1/3;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 2rem auto;
}

section {
    display: flex;
    background-color: var(--white);
    border: gray 1px solid;
    border-radius: 0.5rem;
}

footer{
    grid-row: 3;
    grid-column: 1/4;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 4rem;
    text-align: center;
}


hr {
    margin: 0 2rem 1rem 2rem;
    text-align: center;
    width: 500px;
}

figcaption em {
    text-align: center;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.25rem;
    width: 100%;
    display: block;
}



/* Classes  */

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    height: 3rem;
    /* padding: 1rem; */
}

.navigation li {
	flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

.navigation a {
	display: block;
    height: 100%;
    width: 100%;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
    background-color: var(--accent-color1);
    color: var(--black);
    font-size: 1.25rem;
	font-weight: 800;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
}

.card h2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

.about-me-section {
    grid-row: 2;
    grid-column: 1;
}

.resources-section {
    grid-row: 2;
    grid-column: 2;
}
.profile-photo {
    float: right;
    margin: 0 0 2rem 2rem;
    width: 170px;
}

.content {
    margin-top: 3rem;
}

.resource-content {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
}

.resource-content ul {
    margin: auto 2rem;
    line-height: 2rem;
}

.about-text h3 {
    text-align: center;
}

.about-text .introduction-text {
    margin-bottom: 2.5rem;
    text-align: justify;
}

.about-country-text {
    width: 35rem;
}

.madagascar-flag {
    float:left;
    margin: 0 1rem 13rem 0;
}

.flag {
    width: 200px;
}

.footer-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

}

/* ids */
#course-title {
    display: flex;
    font-size: 1.25rem;
    height: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#lastModified {
    color: yellow;
}