:root{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    width: 640px;
    margin: 1rem auto;
    border-radius: 1px solid gray;
    padding: 1rem;
    background-color: rgb(116, 212, 254);
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}
